{% extends "layouts/app.twig" %}

{% block pageTitle %}Главная страница{% endblock %}


{% block content %}

    <div class="section">
        <div class="container">
            <h2 class="section__title text-center">How it works</h2>
            <p class="section__subtitle text-center fz18 mb50">Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
            <div class="flex-container">
                <div class="box-home">
                    <div class="box-home__num">1</div>
                    <div class="box-home__icon mb20"><img src="images/icons/icon_home_1.svg"></div>
                    <h3 class="box-home__name fz20 fw700 mb3">Search by address</h3>
                    <p class="box-home__descr fz16 text-center text-dim-gray">Find all restaurants available in your zone.</p>
                </div>
                <div class="box-home">
                    <div class="box-home__num">2</div>
                    <div class="box-home__icon mb20"><img src="images/icons/icon_home_2.svg"></div>
                    <h3 class="box-home__name fz20 fw700 mb3">Search by address</h3>
                    <p class="box-home__descr fz16 text-center text-dim-gray">Find all restaurants available in your zone.</p>
                </div>
                <div class="box-home">
                    <div class="box-home__num">3</div>
                    <div class="box-home__icon mb20"><img src="images/icons/icon_home_3.svg"></div>
                    <h3 class="box-home__name fz20 fw700 mb3">Search by address</h3>
                    <p class="box-home__descr fz16 text-center text-dim-gray">Find all restaurants available in your zone.</p>
                </div>
                <div class="box-home">
                    <div class="box-home__num">4</div>
                    <div class="box-home__icon mb20"><img src="images/icons/icon_home_4.svg"></div>
                    <h3 class="box-home__name fz20 fw700 mb3">Search by address</h3>
                    <p class="box-home__descr fz16 text-center text-dim-gray">Find all restaurants available in your zone.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}